.block-reveal {
	margin-bottom: 25px;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	display: inline-block;
}
.block-reveal__block {
	background: #006695 !important;
}
.block-reveal__text {
	opacity: 0;
	margin: 0.3em 0.5rem;
}
.block-reveal__block {
	content: '';
	background: #000;
	position: absolute;
	width: 100%;
	height: 1.3rem;
	margin-top: 0.8rem;
	z-index: 0;
	transform: translateX(0%);
}
.block-reveal--active .block-reveal__text {
	animation: block-reveal-text 0s;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;
}
.block-reveal--active .block-reveal__block {
	animation: block-rev-block 1.1s;
	animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}
@keyframes block-rev-block {
	0% {
		transform: translateX(-100%);
		z-index: 1;
		height: 2.1rem;
		background: #803dff;
 }
	50% {
		transform: translateX(calc(100% + 1px));
		height: 2.1rem;
 }
	100% {
		height: 1.3rem;
		transform: translateX(calc(0%));
		background: #36c1ff;
 }
}
@keyframes block-reveal-text {
	0% {
		opacity: 0;
 }
	50% {
		opacity: 1;
		color: white;
 }
	100% {
		opacity: 1;
		color: white;
 }
}