
#navbar {
	height: 60px;
	width: 100%;
	background-color: #62626297;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	transition: top 0.3s, background-color 1s var(--easeOutExpo);
	z-index: 1000;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);

	border-bottom: 4px solid;
  border-image-slice: 1;
	border-image-source: linear-gradient(to left, var(--gradient-blue), var(--gradient-turq));
}

body.light #navbar {
	background-color: #e7e7e797;
}

body.dark .nav-links a{
	color: white;
}
body.light .nav-links a{
	color: black;
}

.nav-links {
	display: flex;
	align-items: center;
	gap: 35px;
}

.nav-links a {
	transition: color 1s var(--easeOutExpo);
	position: relative;
}

.nav-links a:hover{
	text-shadow: 0px 0px 10px var(--light-blue-2);
	transform: scale(1.1);
}
body.light .nav-links a:hover{
	text-shadow: 0px 0px 10px rgb(249, 249, 91);
}
.nav-links a i:hover{
	transform: scale(1.1);
}


/* dark/light mode switch */

.switch-background {
  background-color: rgb(23, 29, 50);
  height: 30px;
  width: 65px;
  border-radius: 100px;
	display: inline-block;
	box-shadow: 0px 0px 5px white;
}
body.light .switch-background{
	box-shadow: 0px 0px 5px black;
}
.innerSwitch {
  background-color: var(--light-blue-2);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
	cursor: pointer;
}
.face {
  width: 20px;
  padding-bottom: 0px;
}



/*Styling Hamburger Icon*/
.hamburger div{
	width: 30px;
	height:3px;
	background: white;
	margin: 5px;
	transition: all 0.3s ease, background 1s var(--easeOutExpo);
	border-radius: 3px;
}
body.light .hamburger div{
	background: black;
}
.hamburger{
	display: none;
}
/* Animating Hamburger Icon on Click */
.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
	opacity: 0;
}
.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);
}

/* responsive nav */
@media screen and (max-width: 550px) {
	.hamburger {
		display: block;
		transition: all 0.7s ease;
	}

	.nav-links {
		position: fixed;
		top: 60px;
		right: -100vw;
		width: 100%;
		height: auto;
		padding: 30px 0;
		flex-direction: column;
		transition: right 0.5s ease-out, background-color 1s var(--easeOutExpo);
		display: flex;
		background-color: var(--default-bg);
	}
	body.light .nav-links {
		background-color: var(--default-bg-lm);
	}

	.nav-links.open {
		right: 0vw;
	}

	.nav-overlay{
		position: fixed;
		top: 60px;
		right: -100vw;
		width: 100%;
		height: 100vh;
		background-color: #6c6c6cb4;
		transition: all 0.5s ease-out;
		z-index: 999;
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}

	.nav-overlay.open{
		right: 0;
	}

	.nav-links div{
		opacity: 0;
	}
	.nav-links div:nth-child(1){
		transition: opacity 0.5s ease 0.4s;
	}
	.nav-links div:nth-child(2){
		transition: opacity 0.5s ease 0.5s;
	}
	.nav-links div:nth-child(3){
		transition: opacity 0.5s ease 0.6s;
	}
	.nav-links div:nth-child(4){
		transition: opacity 0.5s ease 0.7s;
	}
	.nav-links div.link-fade{
		opacity: 1;
	}
}










