.projects {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}
.projects-row {
	display: flex;
	flex-flow: row wrap;
	margin: 20px 0;
}
.flex-1 {
	flex: 1;
}
.flex-2 {
	flex: 1.5;
}

.project-wrapper {
	padding: 30px;
}

.project-wrapper .upper {
	position: relative;
	width: 70%;
	margin: 0 auto;
	border: 10px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(155deg, var(--gradient-turq) 0%, var(--gradient-blue) 100%);
	box-shadow: 0px 0px 10px black;
}
.project-wrapper .upper img {
	width: 100%;
}

.project-wrapper .year {
	padding: 10px;
	display: inline;
	position: absolute;
	top: -30px;
	right: -30px;
	background-color: var(--blue-2);
	box-shadow: 0px 0px 10px black;
	transition: background-color 1s var(--easeOutExpo);
}
body.light .project-wrapper .year {
	background-color: var(--blue-2-lm);
}

.project-wrapper .below {
	background-color: var(--blue-1);
	width: 100%;
	padding: 16px;
	box-shadow: 0px 0px 10px black;
	transition: background-color 1s var(--easeOutExpo);
}
body.light .project-wrapper .below {
	background-color: var(--blue-1-lm);
}

.play-button {
	width: fit-content;
	border: none;
	border-radius: 2px;
	font-size: 0.8em;
	color: var(--pink-3);
	background-color: var(--pink-1);
	border: 2px solid;
  border-color: var(--pink-0) var(--pink-3) var(--pink-3) var(--pink-0);
}
.play-button:hover {
	background-color: var(--pink-2);
}

.project-wrapper .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.project-wrapper .title b {
	font-size: 1.5em;
}
.project-wrapper .description {
	transition: color 1s var(--easeOutExpo);
	color: var(--light-blue);
}
.project-wrapper .description a{
	transition: color 1s var(--easeOutExpo);
	color: var(--light-green-1);
}
.project-wrapper .description a:hover{
	color: var(--light-green-2);
}

body.light .project-wrapper .description {
	color: var(--light-blue-lm);
}
body.light .project-wrapper .description a {
	color: var(--light-green-1-lm);
}
body.light .project-wrapper .description a:hover {
	color: var(--light-green-2-lm);
} 

.chains {
	display: flex;
	justify-content: space-around;
	padding: 0 20px;
}
.chains img {
	width: 12px;
}

.project-footer {
	display: flex; 
	flex-flow: row wrap; 
	justify-content: space-between; 
	align-items: center;
	margin-top: 6px;
	gap: 10px;
}

.tags {
	display: flex;
	flex-flow: row wrap;
	font-size: 0.8em;
	color: var(--green-1);
	line-height: 1;
	gap: 8px;
}
.tag {
	display: inline;
	background-color: var(--green-2);
	padding: 5px;
	border-radius: 2px;
}
.project-links{
	display: flex;
	flex-flow: row wrap;
	gap: 8px;
}
.project-links a{
	padding: 2px 6px;
	border-radius: 2px;
	color: var(--pink-3);
	background-color: var(--pink-1);
	border: 2px solid;
  border-color: var(--pink-0) var(--pink-3) var(--pink-3) var(--pink-0);
}
.project-links a:hover {
	background-color: var(--pink-2);
}
.project-links .invalid{
	pointer-events: none;
	color: rgb(92, 92, 92);
	background-color: rgb(185, 185, 185);
}


@media (max-width: 991px) {
	.projects-row {
		flex-direction: column;
	}
	.flex-1 .project-wrapper .upper {
		width: 50%;
		margin:0 auto;
	}
	.flex-1 .chains {
		justify-content: space-evenly;
	}
}
