:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;


	/* color-scheme: light dark; */
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
}

/* fonts  */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0;
	min-width: 320px;
	background-color: #171d32;
	color: white;
	font-family: 'Rubik', sans-serif;
}

a {
	text-decoration: none;
}


.section-title {
	background: rgb(5,211,255);
	background: linear-gradient(155deg, rgba(5,211,255,1) 0%, rgba(24,114,255,1) 47%, rgba(0,18,255,1) 100%);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.section-title h1{

}

.section-title div {
	background-color: rgb(23, 29, 50);
  padding: 20px;
	margin: 60px auto;
  text-align: center;
	
}



.about-me {
	position: relative;
	padding-top: 160px;
	padding-bottom: 160px;
}
.center {
	text-align: center;
}



/* .gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
} */

/* ----------------- Footer section ----------------- */

.back-to-top {
	display: flex;
	justify-content: right;
	margin: 40px;
}

.back-to-top a i{
	background-color: black;
	color: white;
	font-size: 1.3em;
	border-radius: 100%;
	padding: 10px 13px;
	animation: bounce 1.4s infinite;
}

@keyframes bounce {
	0%, 100% {
			transform: translateY(0);
	}
	50% {
			transform: translateY(-5px);
	}
}

footer {
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	height: 250px;
	background-color: #011b45;
	background-image: url('/footer-dark.svg');
	padding-top: 20px;
}

/* ----------------- Footer icons ----------------- */
.button-group {
	display: flex;
	justify-content: center;
}

.attract-container {
	padding: 30px;
	position: relative;
}

.attract {
	background-color: rgb(0, 0, 0);
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	transition: transform 0.1s;
	position: relative;
	z-index: 1;
}
.attract i{
	color: white;
}
