:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;


	/* color-scheme: light dark; */
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
}

/* fonts  */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0;
	min-width: 320px;
	background-color: rgb(23, 29, 50);
	color: white;
	font-family: 'Rubik', sans-serif;
}

a {
	text-decoration: none;
}


.section-title {
	background: rgb(5,211,255);
	background: linear-gradient(155deg, rgba(5,211,255,1) 0%, rgba(24,114,255,1) 47%, rgba(0,18,255,1) 100%);
	padding: 100px 50px;
	text-align: center;
}
.section-title h1{
	background: rgb(0, 0, 0);
	display: inline;
	padding: 30px;
	
}



.about-me {
	position: relative;
	padding-top: 160px;
	padding-bottom: 160px;
}
.center {
	text-align: center;
}

.contact {
	text-align: center;
	margin-top: 300px;
	margin-bottom: 100px;
}

footer {
	text-align: center;
}


.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

