:root {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;

	background-color: #242424;
	color-scheme: light dark;
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
	min-width: 320px;
	padding-top: 60px;
	background-color: #242424;
	color: white;
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

canvas {
	position: absolute;
	top: 0;
	z-index: -100;
	filter: blur(0px);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: end;
	align-items: center;
}




.homepage {
	min-height: 100vh;
}

.projects {
	min-height: 100vh;
}

.section {
	padding-left: 20px;
	padding-right: 20px;
}

.icon {
	text-decoration: none;
	color: white;
}

.about-me {
	display: grid;
	grid-template-columns: 300px, 1fr;
}



.animation {
	background-color: pink;
	position: relative;
	z-index: 100;
	height: 400px;
	overflow: hidden;
}

.bee {
	height: 126px;
	position: absolute;
	top: 0;
	left: 40%;
}


.contact {
	text-align: center;
}

footer {
	text-align: center;
}

